{% extends 'base.html' %} {% load dog_filters %} {% load static %} 


{% block head %}
    <title>DogsWatch | Change Password</title>
{% endblock %} 

{% block nav %} {% endblock %} 
{% block breadcrumb %} {% endblock %}

{% block content %}
  <div class="container-fluid">
    <section class="w-100 wrapper">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-xl-6">
            <div class="card bg-white text-black shadowed my-5" style="border-radius: 1rem">
              <div class="card-header">
                <button onclick="goBack()" class="btn btn-dark" title="Go Back">
                  <span class="icon-arrow_back text-light"></span>
                </button>
              </div>
              <div class="card-body p-5">
                <div class="mb-5" style="display: flex; justify-content: center; align-items: center;">
                  {% include 'components/logo.html' %}
                </div>
                <div class="mb-md-5 mt-md-4 pb-5">
                  <div class="">
                      <h2 class="fw-bold mb-2" style="text-align: center;">Change Your Password</h2>
                      <p class="text-dark-50 mb-5" style="text-align: center;">Please fill in the following details</p>
                  </div>

                  <form method="POST" action="{% url 'dogs_app:register' %}">
                      {% csrf_token %}
                      {% include "components/form.html" %}

                      <button class="btn btn-outline-dark ight btn-lg px-5 d-block w-100" type="submit">
                          Confirm
                      </button>  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'dogs_app/js/update_user.js' %}"></script>
{% endblock %}
