.tooltip-inner {
    border: 1px solid black;
    /* Add a black border around the tooltip */
    background-color: rgba(0, 0, 0, 0.1);
    /* Add a semi-transparent black background */
    padding: 6px;
    /* Add some space between the image and the border */
    max-width: 200px;
    /* Adjust as per your image size and padding */
}

.tooltip-inner img {
    max-width: 180px;
    /* You can change it according to your image's height */
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-warning {
    color: #333333;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #333333;
    background-color: #e0a800;
    border-color: #d39e00;
}

.form-control {
    color: #495057;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
}

.card-header {
    font-size: 1.5em;
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type='password'] {
    border-radius: 10px;
    border: 1px solid #ced4da;
}

input[type='password']:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hero section */
.hero {
    background: linear-gradient(rgba(25, 25, 25, 0.9), rgba(50, 50, 50, 0.9), rgba(75, 75, 75, 0.9));
    height: auto;
    display: flex;
    justify-content: flex-start;
    /* Logo stays on the left */
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

/* Logo positioning */
.logo-hero {
    position: relative;
}

.image-container {
    position: relative;
}

.logo-hero img {
    width: 500px;
    height: 188.5px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    border-radius: 10px;
}

/* Text overlay */
.text-overlay {
    position: absolute;
    bottom: 85%;
    right: -70%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    font-family: Helvetica, Arial, sans-serif;
}

.scrollable-news-section {
    overflow-y: auto;
    max-height: 400px;
}

.add-news-btn {
    width: 100%;
    margin-top: 2px;
    border-radius: 16px;
    padding: 8px 8px;
}

.view-more-news-link {
    font-size: 14px;
    padding: 5px 10px;
    background: linear-gradient(to right, #ccc, #d4d4d4);
    /* subtle gradient */
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.view-more-news-link:hover {
    background: linear-gradient(to right, #bbb, #c2c2c2);
    /* subtle gradient on hover */
    color: #111;
}

/* To align the link to the left */
.view-more-wrapper {
    text-align: left;
}

/* About Us Custom Styles */
.about-us-section {
    background: #f9f9f9;
    /* Light gray background */
}



.about-us-header {
    background: #343a40;
    /* Dark gray header */
    color: #fff;
    /* White text */
}

.about-us-body {
    padding: 20px 30px;
    /* Padding for body */
}

.about-us-text {
    font-weight: 400;
    /* Regular weight for lead text */
    color: #555;
    /* Dark gray text */
}

.about-us-subtext {
    color: #777;
    /* Lighter gray for subtext */
}

/* Unique Styling for About Us */
.unique-section {
    background-color: transparent;
    /* Transparent background */
}

.unique-header {
    background: #464e56;
    /* Slightly different dark gray */
}

.unique-title {
    font-family: 'Courier New', Courier, monospace;
    /* Different font for the title */
    font-size: 24px;
    /* Slightly bigger font size */
}

/* This will add a slight border-radius to the bottom of the card */
.about-us-card {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.about-us-card {
    border: 1px solid #ccc;
    /* Lighter border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

.unique-header {
    background: #2c3e50;
    /* Slightly different color for more contrast */
    color: #ecf0f1;
    /* Light color text */
    text-shadow: 2px 2px 4px #000000;
    /* Text shadow for more depth */
}

.unique-title {
    font-family: 'Georgia', serif;
    /* Different, more elegant font */
    font-size: 26px;
    /* Slightly larger font size */
    font-weight: bold;
    /* Bold for emphasis */
}

.about-us-body {
    padding: 30px;
    /* Extra padding for more room */
}

.about-us-text {
    font-size: 18px;
    /* Larger font size for readability */
    color: #34495e;
    /* Darker color for contrast */
}

.about-us-subtext {
    font-style: italic;
    /* Italicized text for stylistic emphasis */
}

/* Hover effect for more interactivity */
.about-us-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow on hover */
    transition: box-shadow 0.3s ease-in-out;
    /* Smooth transition */
}


.hero__section {
    background-color: var(--primary-color);
    /* padding: 0; */
}

.solution_cards_box {
    height: 100%;
    position: relative;
}

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin-right: 16px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.news__controls {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 120px;
    height: 50px;
    z-index: 100;
    margin: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__controls a,
.control__button a
{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}