/* Global */
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.centered-content {
    text-align: center;
    width: 350px;
}

.prompt {
    font-size: 1.4rem;
    color: #333;
    font-weight: bold;
}

.form-control,
.stylish-form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    color: #495057;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.small-text {
    color: #dc3545;  /* Bootstrap's default color for text-danger */
    margin-top: 2px;
    font-size: 80%;
}

/* Buttons */
.delete-news-button,
.update-news-button,
.add-news-button,
.add-dog-button,
.update-button,
.delete-button,
.action-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.back-button {
    display: flex;
    justify-content: flex-end;
}

.stylish-button {
    /* styles for the register button */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.button-wrapper {
    margin-top: 30px;
}

/* Buttons Color */
.btn-primary,
.btn-secondary,
.btn-danger {
    color: #fff;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Card */
.card,
.stylish-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title {
    text-align: center;
}

.card-header,
.stylish-card-header {
    border-radius: 15px 15px 0 0;
    font-size: 1.5em;
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.card-body,
.stylish-card-body {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}

/* Forms and Labels */
.stylish-form {
    /* styles for form */
    padding: 10px;
}

.stylish-label,
.stylish-form-floating {
    /* styles for label */
    font-weight: bold;
    color: #6c757d;
}

/* Alerts */
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/* Images */
.profile-image {
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;  /* This makes the picture round */
}

/* Table */
th {
    font-size: 0.9em;
}

/* Input types */
input[type='password'] {
    border-radius: 10px;
    border: 1px solid #ced4da;
}

input[type='password']:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/*Here*/
.stylish-table {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.stylish-table .table-caption {
    font-size: 1.5em;
    padding: 10px;
    color: #495057;
}

.stylish-thead {
    background-color: #0d6efd;
    color: #fff;
}

.stylish-tbody {
    color: #495057;
}

.stylish-row:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.stylish-row a {
    color: #495057;
    text-decoration: none;
}

.stylish-row a:hover {
    color: #0d6efd;
}

/* Input types */
input[type='password'] {
    border-radius: 10px;
    border: 1px solid #ced4da;
}

input[type='password']:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* New rule for date input fields */
input[type='date'] {
    height: calc(1.8em + .75rem + 2px); /* This is Bootstrap 4's default height for form inputs */
    line-height: 1.5; /* Bootstrap 4's default line-height for form inputs */
}


