.tooltip-inner {
    border: 1px solid black; /* Add a black border around the tooltip */
    background-color: rgba(0, 0, 0, 0.1); /* Add a semi-transparent black background */
    padding: 6px; /* Add some space between the image and the border */
    max-width: 200px; /* Adjust as per your image size and padding */
}

.tooltip-inner img {
    max-width: 180px; /* You can change it according to your image's height */
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

th {
    font-size: 0.9em;
}

.stylish-table {
    background: #b2dfdb;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.stylish-thead th {
    background-color: #00b377;
    color: #fff;
}

.stylish-tbody td{
    color: #495057;
}

.toolbar {
    background-color: #e0f2f1; /* Light background color */
    padding: 8px;
    margin-bottom: 1px; /* Add some space between the toolbar and the table */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border-radius: 5px; /* Rounded corners */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-dog-btn {
    background-color: #007bff; /* Primary blue color for the button */
    color: #ffffff; /* White text color */
    padding: 8px 15px;
    border-radius: 3px; /* Rounded corners for the button */
    text-decoration: none; /* Remove underline from the link */
    transition: background-color 0.3s; /* Smooth hover transition */
}

.add-dog-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.search-filter {
    display: flex;
    align-items: center;
    margin-right: auto; /* Aligns the search and filter to the left */
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px; /* Space between search and filter */
}

.filter-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.add-dog-div {
    display: flex;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
}

.caption-toolbar {
    background-color: #b2dfdb;
    padding: 12px;
    border-radius: 10px;
}

.caption-toolbar h2 {
    color: #555;
    text-align: center;
}

.pagination-container {
    text-align: center; /* Center the text */
    margin-top: 15px; /* Add some margin to space it from the table */
    margin-bottom: 15px;
}

.step-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* If the content overflows, it will wrap onto the next line */
    justify-content: center; /* Center the content horizontally */
}

.step-links a {
    color: #007bff; /* Set the link color */
    text-decoration: none; /* Remove underlines */
    margin: 0 1px; /* Add some margin between links */
}

.step-links a:hover {
    text-decoration: underline; /* Underline on hover */
}

.step-links .current {
    margin: 0 1px; /* Add some margin to space it from the other links */
    color: #333;
    font-weight: bold;
}

.pagination-wrapper {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    width: 100%; /* Full width */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  margin: 0 10px;
  text-decoration: none;
}
