<div
  class="modal fade"
  id="editDogStanceModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-width:600px">
    <div class="modal-content">
      <div class="modal-body px-4">
        <div class="text-dark d-inline-block ml-auto">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="py-3 w-100">
            {% comment %} Header {% endcomment %}
            <h5 class="text-dark fw-bold text-uppercase" id="editObservationModalLabel" style="text-align: center;">Edit Dog Activity</h5>
            <hr>

            {% comment %} Content {% endcomment %}
            <form method="post" id="edit-stance-form">
                {% csrf_token %}
                <!-- General Error Display Area -->
                <div class="form-general-error edit-stance-form" id="edit-stance-general-error">
                    <span class="text-danger form-error">
                        {% if non_field_errors %}
                                {% for error in non_field_errors %}
                                    {{ error }}<br>
                                {% endfor %}
                        {% endif %}
                    </span>
                </div>

                <!-- Hidden input to hold the Observation ID Field -->
                <input type="hidden" id="observation_id" name="observation_id">

                <div class="modal-body" style="padding-bottom: 0;">
                    {% if stance_form.stanceStartTime.errors %}
                        <div class="form-error-row">
                            <span class="text-danger form-error">{{ stance_form.stanceStartTime.errors }}</span>
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <label for="timepicker">Stance Start Time:</label>
                        <input type="text" id="timepicker" class="form-control {{ stance_form.stanceStartTime.name }}" name="{{ stance_form.stanceStartTime.name }}" value="{{ stance_form.stanceStartTime.value }}">
                    </div>

                    {% if stance_form.dogStance.errors %}
                        <div class="form-error-row">
                            <span class="text-danger form-error">{{ stance_form.dogStance.errors }}</span>
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <label for="currentStance">Stance:</label>
                        <select id="currentStance" class="form-control {{ stance_form.dogStance.name }}" name="{{ stance_form.dogStance.name }}">
                            {% for value, display in stance_form.dogStance.field.choices %}
                                <option value="{{ value }}" {% if stance_form.dogStance.value == value %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if stance_form.dogLocation.errors %}
                        <div class="form-error-row">
                            <span class="text-danger form-error">{{ stance_form.dogLocation.errors }}</span>
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <label for="dogLocation">Location:</label>
                        <select id="dogLocation" class="form-control {{ stance_form.dogLocation.name }}" name="{{ stance_form.dogLocation.name }}">
                            {% for value, display in stance_form.dogLocation.field.choices %}
                                <option value="{{ value }}" {% if stance_form.dogLocation.value == value %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% comment %} Footer {% endcomment %}
                <br>
                <hr>
                <div class="text-right mt-4">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success px-4">Save</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
