<!-- This HTML is used in 'view_dogs.html' to iterate
over each dog and display them in a separate row-->

{% load group_check %}
{% load dog_filters %}
{% load static %}

<!--The row is clickable (redirects to the dog's record page), and hovering over it
 shows a pointer cursor and displays a tooltip with the dog's thumbnail.-->
<tr class="dog-row"
    data-href="{% url 'dogs_app:dog_record' dog.dogID %}"
    data-dogid="{{ dog.dogID }}"
    style="cursor: pointer;"
    data-bs-toggle="tooltip" data-bs-html="true"
    title="{% if dog.dogImage %}<img src='{{ dog.dogImage.url }}' alt='Thumbnail of {{ dog.dogName }}' style='max-width: 200px;'>{% else %}<img src='{% static 'dogs_app/img/default_dog.jpg' %}' alt='Default dog thumbnail'>{% endif %}">
    <td class="text-center">{{ dog.dogName|handle_none }}</td>
    <td class="text-center">{{ dog.dateOfArrival|date:"d/m/Y"|handle_none }}</td>
    <td class="text-center">
        {% if dog.gender == "M" %}
            Male(⚦)
        {% elif dog.gender == "F" %}
            Female(⚥)
        {% else %}
            -
        {% endif %}
    </td>
    <td class="text-center">{{ dog.breed|handle_none }}</td>
    <td class="text-center">{{ dog.furColor|handle_none }}</td>
    <td class="text-center">{{ dog.dateOfBirthEst|calculate_age }}</td>
    <td class="text-center">{{ dog.dateOfVaccination|date:"d/m/Y"|handle_none }}</td>
    <td class="text-center">
        <div class="form-check d-flex justify-content-center">
            {% if dog.isNeutered == "Y" %}
                <input class="form-check-input" type="checkbox" style="transform: scale(1.5);" checked disabled>
            {% elif dog.isNeutered == "N" %}
                <input class="form-check-input" type="checkbox" style="transform: scale(1.5);" disabled>
            {% else %}
                <span>-</span>
            {% endif %}
        </div>
    </td>
    <td class="text-center">
        <div class="form-check d-flex justify-content-center">
            {% if dog.isDangerous == "Y" %}
                <input class="form-check-input" type="checkbox" style="transform: scale(1.5);" checked disabled>
            {% elif dog.isDangerous == "N" %}
                <input class="form-check-input" type="checkbox" style="transform: scale(1.5);" disabled>
            {% else %}
                <span>-</span>
            {% endif %}        </div>
    </td>
    <td class="text-center">{{ dog.kongDateAdded|date:"d/m/Y"|handle_none }}</td>
    <td class="text-center">{{ dog.owner|handle_none }}</td>
</tr>
