{% load dog_filters %}

<tr>
    <td>{{ examination.examinationDate }}</td>
    <td>{{ examination.examinedBy }}</td>
    <td>{{ examination.results|handle_none }}</td>
    <td>{{ examination.dogWeight|handle_none }}</td>
    <td>{{ examination.dogTemperature|handle_none }}</td>
    <td>{{ examination.dogPulse|handle_none }}</td>
    <td>{{ examination.comments|handle_none }}</td>

    <!-- Edit and Delete buttons -->
    <td>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-info btn-sm edit-examination-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit this Examination" data-examination-id="{{ examination.examinationID }}">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm delete-examination-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete this Examination" data-examination-id="{{ examination.examinationID }}">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </td>
</tr>