{% load dog_filters %}
{% load date_filters %}
{% load static %}
{% load tz %}


<!-- Observation Head Things -->
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link href="{% static 'dogs_app/css/_observation_row.css' %}" rel="stylesheet">
{% endblock %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- Observation Row -->
<tr id="observation-{{ observation.id }}">
    <!-- Cell with Flexbox -->
    <td class="clickable-row" data-bs-toggle="collapse" data-bs-target="#stances-{{ observation.id }}" title="View Stances for this Observation">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Icon at the very left -->
            <i class="fas fa-angle-down"></i>
            <!-- Date Time centered -->
            <div>
                {{ observation.obsDateTime|localtime|format_european_datetime }}
            </div>
            <!-- Spacer for symmetry -->
            <div></div>
        </div>
    </td>

    <td class="clickable-row" data-bs-toggle="collapse" data-bs-target="#stances-{{ observation.id }}" title="View Stances for this Observation">
        {{ observation.sessionDurationInMins }}
    </td>
    <td class="clickable-row" data-bs-toggle="collapse" data-bs-target="#stances-{{ observation.id }}" title="View Stances for this Observation">
        <div class="form-check">
            {% if observation.isKong == "Y" %}
                <input class="form-check-input" type="checkbox" style="transform: scale(1.5);" checked disabled>
            {% elif observation.isKong == "N" %}
                <input class="form-check-input" type="checkbox" style="transform: scale(1.5);" disabled>
            {% else %}
                -
            {% endif %}
        </div>
    </td>
    <td class="clickable-row" data-bs-toggle="collapse" data-bs-target="#stances-{{ observation.id }}" title="View Stances for this Observation">
        {{ observation.jsonFile|handle_none }}
    </td>
    <td class="clickable-row" data-bs-toggle="collapse" data-bs-target="#stances-{{ observation.id }}" title="View Stances for this Observation">
        {{ observation.rawVideo|handle_none }}
    </td>
    <td>
        <div class="btn-group" role="group">
            <!-- Edit and Delete buttons -->
            <button type="button" class="btn btn-outline-info btn-sm edit-observation-btn" data-observation-id="{{ observation.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit this Observation">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm delete-observation-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete this Observation" data-observation-id="{{ observation.id }}">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </td>
</tr>

<!-- New Expandable Row -->
<tr class="collapse collapse-row bg-danger" id="stances-{{ observation.id }}">
    <td colspan="12">
        <div class="p-5">
            <!-- Dog Stances table -->
            <table class="table table-striped border-collapse table-hover inner-table styled-table caption-top border-dark dog-stance-table">
                <caption class="stances-caption bg-dark">
                    <div class="caption-wrapper">
                        <div class="text-center">
                            Dog Stances for Observation ({{ observation.obsDateTime|localtime|format_datetime }})
                        </div>
                        <button
                            data-observation-id="{{ observation.id }}"
                            style="padding: 6px 14px;" type="button"
                            class="btn btn-light text-dark add-stance-btn"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Add a new Dog Stance"
                        >
                            <i class="fas fa-plus" style="margin-right: 8px;"></i>
                            <i class="fas fa-paw"></i>
                        </button>
                    </div>
                </caption>
                <thead class="table-group-divider">
                    <tr class="table-dark">
                        <th>Dog Stance Start Time</th>
                        <th>Stance</th>
                        <th>Location</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for stance in observation.related_dog_stances %}
                        <tr>
                            <td>{{ stance.stanceStartTime|format_time_24hr }}</td>
                            <td>{{ stance.get_dogStance_display }}</td>
                            <td>{{ stance.get_dogLocation_display }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <!-- Edit and Delete buttons -->
                                    <button type="button" class="btn btn-outline-info btn-sm edit-stance-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit this Stance" data-stance-id="{{ stance.id }}" data-observation-id="{{ observation.id }}">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm delete-stance-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete this Stance" data-stance-id="{{ stance.id }}" data-observation-id="{{ observation.id }}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </td>
</tr>

<!-- Bootstrap Modal for Adding Dog Stance -->
{% include 'modals/observations/__add_new_dag_stance_modal.html' %}

<!-- Edit Dog Stance Modal -->
{% include 'modals/observations/__edit_dog_stance_modal.html' %}

<!-- "Delete Observation" Confirmation Modal -->
{% include 'modals/observations/__delete_observation_modal.html' %}

<!-- "Delete Dog Stance" Confirmation Modal -->
{% include 'modals/observations/__delete_dog_stance_modal.html' %}

<!-- Toast Notification for Observation deletion Success -->
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3" id="toastPlacement">
        <div class="toast success-toast" id="obsSuccessToast">
            <div class="toast-header">
                <i class="fa fa-check me-2" aria-hidden="true"></i>
                <strong class="me-auto">Success</strong>
            </div>
            <div class="toast-body">
                Observation deleted successfully!
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying errors -->
<div class="modal fade" tabindex="-1" id="errorModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                <p id="errorText" class="text-danger font-weight-bold"></p>
            </div>
        </div>
    </div>
</div>