{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 col-md-10">
        <div class="card border-primary mb-3 mt-5">
            <div class="card-header text-center text-white bg-primary">
                <h1>Add a New Dog</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'add_dog' %}" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-floating mb-3">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                                <div class="alert alert-warning mt-2" role="alert">
                                    {{ field.errors}}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success">Add Dog</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
