{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'dogs_app/css/add_news.css' %}" rel="stylesheet">

<div class="container mt-5 text-center">
    <div class="col-md-7 mx-auto">
        <div class="card border-primary shadow-lg">
            <div class="card-header text-white bg-primary">
                <h2 class="card-title">Add News to the Home Page</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                        <label for="title">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea id="content" name="content" class="form-control" placeholder="Content" style="height: 180px;"></textarea>
                        <label for="content">Content</label>
                    </div>
                    <div class="action-buttons">
                        <button type="submit" class="btn btn-success">Add News</button>
                    </div>
                    <div class="back-button">
                        <a href="{% url 'dogs_app:home' %}" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
