{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'dogs_app/css/styles.css' %}" rel="stylesheet">

<div class="container mt-5 text-center">
    <div class="col-md-8 mx-auto">
        <div class="card border-primary shadow-lg">
            <div class="card-header text-white bg-primary">
                <h2 class="card-title">Add a New Dog</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'add_dog' %}" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-floating mb-3">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                                <div class="alert alert-warning mt-2" role="alert">
                                    {{ field.errors}}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="add-dog-button mt-4">
                        <button type="submit" class="btn btn-success">Add Dog</button>
                    </div>
                    <div class="back-button mt-2">
                        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
