{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'dogs_app/css/styles.css' %}" rel="stylesheet">

<div class="container mt-5 text-center">
    <div class="col-md-7 mx-auto">
        <div class="card border-primary shadow-lg">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title">Change Password</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" required>
                        {% if form.old_password.errors %}
                            <small class="small-text">
                                {{ form.old_password.errors|striptags }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                        {% if form.new_password1.errors %}
                            <small class="small-text">
                                {{ form.new_password1.errors|striptags }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                        {% if form.new_password2.errors %}
                            <small class="small-text">
                                {{ form.new_password2.errors|striptags }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="button-wrapper">
                        <button type="submit" class="btn btn-success">Change Password</button>
                    </div>
                    <div class="back-button mt-2">
                        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
