{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>DogsWatch | Delete Dog | {{ dog.dogName }}</title>
    <link href="{% static 'dogs_app/css/delete_dog.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container mt-5 text-center">
        <div class="col-md-7 mx-auto">
            <div class="card shadowed">
                <div class="card-header bg-dark text-white d-flex align-items-center py-0">
                    <button onclick="goBack()" class="btn btn-light my-3 align-self-start" title="Go Back">
                        <span class="icon-arrow_back text-dark"></span>
                    </button>
                    <h2 class="card-title text-center w-100 me-4">Delete Dog</h2>
                </div>
                <div class="card-body py-5">
                    <p class="text-danger pb-4 h4"><strong>Are you sure you want to delete {{ dog.dogName }}?</strong></p>
                   <div class="d-flex flex-column align-items-center">
                        <div>
                            {% if dog.dogImage %}
                                <img src="{{ dog.dogImage.url }}" class="rounded-circle" alt="Image not available" style="width: 7rem; height: 7rem; object-fit: cover;">
                            {% else %}
                                <img src="{% static 'dogs_app/img/default_dog.jpg' %}" class="rounded-circle" alt="Image not available" style="width: 7rem; height: 7rem; object-fit: cover;">
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column align-items-start ms-3">
                            <span class="text-uppercase fw-bold">{{ dog.dogName }}</span>
                            <span class="text-secondary fs-sm">{{ dog.dateOfArrival|date }}</span>
                        </div>    
                   </div>
                   <ul class="list-group list-group-flush mt-4">
                       <li class="list-group-item d-flex justify-content-between align-items-center">
                           <strong>Dog Breed: </strong>
                           <span class="centered-content">
                               {% if dog.breed %}
                                    {{ dog.breed }}
                               {% else %}
                                    -
                               {% endif %}
                           </span>
                       </li>
                       <li class="list-group-item d-flex justify-content-between align-items-center">
                           <strong>Chip Number: </strong>
                           <span class="centered-content">
                               {% if dog.chipNum %}
                                    {{ dog.chipNum }}
                               {% else %}
                                    -
                               {% endif %}
                            </span>
                       </li>
                   </ul>
                   <form method="POST" class="mt-5 d-flex">
                    {% csrf_token %}
                    <button class="btn flex-grow-1 mx-2 btn-outline-danger btn-lg" type="submit">
                        Delete
                    </button>
                </form>
               </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'dogs_app/js/delete_dog.js' %}"></script>
{% endblock %}
