{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'dogs_app/css/styles.css' %}" rel="stylesheet">

<div class="container mt-5 text-center">
    <div class="col-md-7 mx-auto">
        <div class="card border-danger shadow-lg">
            <div class="card-header bg-danger text-white">
                <h2 class="card-title">Delete News</h2>
            </div>
           <div class="card-body">
                <p class="lead prompt">Are you sure you want to delete this news story?</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Title: </strong><span class="centered-content">{{ news.title }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Content: </strong><span class="centered-content">{{ news.content }}</span>
                    </li>
                </ul>
                <form method="POST" class="delete-news-button mt-4">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete News</button>
                </form>
                <div class="back-button mt-2">
                    <a href="{% url 'dogs_app:home' %}" class="btn btn-secondary">Back</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
