{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href="{% static 'dogs_app/css/delete_user.css' %}" rel="stylesheet">

    <div class="container mt-5 text-center">
        <div class="col-md-7 mx-auto">
            <div class="card border-danger shadow-lg">
                <div class="card-header bg-danger text-white">
                    <h2 class="card-title">Delete User</h2>
                </div>
                <div class="card-body">
                    <p class="lead prompt">Are you sure you want to delete this user?</p>
                    <div class="card-header">
                        {% if delete_user.profile.image.name %}
                            <img src="{{ delete_user.profile.image.url }}" class="card-img-top" alt="Image not available" style="width: 25rem; height: 20rem; object-fit: cover;">
                        {% else %}
                            <img src="{% static 'dogs_app/img/default.jpg' %}" class="card-img-top" alt="Image not available" style="width: 25rem; height: 20rem; object-fit: cover;">
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>UserName: </strong><span class="centered-content">{{ delete_user.username }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Name: </strong><span class="centered-content">{{ delete_user.first_name }} {{ delete_user.last_name }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Email: </strong><span class="centered-content">{{ delete_user.email }}</span>
                        </li>
                    </ul>
                    <form method="POST" class="action-buttons">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <div class="back-button">
                        <a href="{% url 'dogs_app:view_users' %}" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
