{% extends 'base.html' %}
{% load group_check %}
{% load dog_filters %}
{% load static %}

{% block content %}
    <link href="{% static 'dogs_app/css/dog_record.css' %}" rel="stylesheet">

    <div class="container mt-5 ">
        <div class="col-md-10 mx-auto">
            <div class="card border-secondary shadow-lg">

                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">{{ dog_record }}</h2>
                </div>
                <div class="card-header text-center">
                    {% if dog_record.dogImage and not dog_record.is_default_image %}
                        <img id="dog_picture" data-bs-toggle="modal" data-bs-target="#imageModal" src="{{ dog_record.dogImage.url }}" class="card-img-top" alt="Dog Image" style="width: 25rem; height: 20rem; object-fit: cover; cursor: pointer;">
                    {% else %}
                        <img id="dog_picture" src="{% static 'dogs_app/img/default_dog.jpg' %}" class="card-img-top" alt="Default Dog Image" style="width: 12rem; height: 12rem; object-fit: cover;">
                    {% endif %}
                </div>
                <div class="card-body">

                    <table class="table styled-table table-bordered">
                        <tbody>

                            <tr>
                                <td class="attr-name"><strong>Dog Name</strong></td>
                                <td>{{ dog_record.dogName|handle_none }}</td>
                            </tr>

                            <tr>
                                <td><strong>Date of Arrival</strong></td>
                                <td>{{ dog_record.dateOfArrival|handle_none }}</td>
                            </tr>

                            <tr>
                                <td><strong>Chip Number</strong></td>
                                <td>{{ dog_record.chipNum|handle_none }}</td>
                            </tr>

                            <tr>
                                <td><strong>Gender</strong></td>
                                <td>{{ dog_record.gender|gender_filter }}</td>
                            </tr>

                            <tr>
                                <td><strong>Breed</strong></td>
                                <td>{{ dog_record.breed|handle_none }}</td>
                            </tr>

                            <tr>
                                <td><strong>Fur Color</strong></td>
                                <td>{{ dog_record.furColor|handle_none }}</td>
                            </tr>

                            <tr>
                                <td><strong>Estimated Date of Birth</strong></td>
                                <td>{{ dog_record.dateOfBirthEst|handle_none }}</td>
                            </tr>

                            <tr>
                                <td><strong>Estimated Age (Years)</strong></td>
                                <td>{{ dog_record.dateOfBirthEst|calculate_age }}</td>
                            </tr>

                            <tr>
                                <td><strong>Date of Vaccination</strong></td>
                                <td>{{ dog_record.dateOfVaccination|handle_none }}</td>
                            </tr>

                            <tr>
                                <td><strong>Neutered?</strong></td>
                                <td>{{ dog_record.isNeutered|yes_no_filter }}</td>
                            </tr>

                            <tr>
                                <td><strong>Dangerous?</strong></td>
                                <td>{{ dog_record.isDangerous|yes_no_filter }}</td>
                            </tr>

                            <tr>
                                <td><strong>Date Given Last Kong Toy</strong></td>
                                <td>{{ dog_record.kongDateAdded|handle_none }}</td>
                            </tr>


                            <tr>
                                <td class="attr-name"><strong>Owner</strong></td>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div style="width:50%"></div>
                                        <div class="text-center" style="width:50%">
                                            {{ dog_record.owner|handle_none }}
                                        </div>
                                        {% if dog_record.owner %}
                                            <div style="width:50%">
                                                <button type="button" id="owner-button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#ownerModal">View</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <!-- Expand/Collapse All Button -->
                    <div class="d-inline-block float-end">
                        <button id="toggleTables" class="btn btn-outline-dark btn-sm">Expand All</button>
                    </div>

                    <!-- Treatments Table -->
                    <div class="scrollable-table">
                        <div id="treatments_container" class="center-container clickable-container">
                            <div class="clickable-header">
                                <h2>Treatments <i class="fas fa-angle-down"></i></h2>
                            </div>
                        </div>
                        <div id="treatments_table" class="hide">
                            <table class="table styled-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Treatment Date</th>
                                        <th>Treatment Name</th>
                                        <th>Treated By</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for treatment in treatments %}
                                    <tr>
                                        <td>{{ treatment.treatmentDate }}</td>
                                        <td>{{ treatment.treatmentName }}</td>
                                        <td>{{ treatment.treatedBy }}</td>
                                        <td>{{ treatment.comments }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">No treatments found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Entrance Examinations Table -->
                    <div class="scrollable-table">
                        <div id="examinations_container" class="center-container clickable-container">
                            <div class="clickable-header mt-3">
                                <h2>Examinations <i class="fas fa-angle-down"></i></h2>
                            </div>
                        </div>
                        <div id="examinations_table" class="hide">
                            <table class="table styled-table table-bordered">
                                <thead class=" stylish-thead">
                                    <tr>
                                        <th>Date</th>
                                        <th>Examined By</th>
                                        <th>Results</th>
                                        <th>Weight (kg)</th>
                                        <th>Temperature (c)</th>
                                        <th>Pulse (bpm)</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody class="small stylish-tbody">
                                {% for examination in examinations %}
                                    <tr>
                                        <td>{{ examination.examinationDate }}</td>
                                        <td>{{ examination.examinedBy }}</td>
                                        <td>{{ examination.results }}</td>
                                        <td>{{ examination.dogWeight }}</td>
                                        <td>{{ examination.dogTemperature }}</td>
                                        <td>{{ examination.dogPulse }}</td>
                                        <td>{{ examination.comments }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="7">No examinations found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Observations Table -->
                    <div class="scrollable-table">
                        <div id="observations_container" class="center-container clickable-container">
                            <div class="clickable-header mt-3">
                                <h2>Observations <i class="fas fa-angle-down"></i></h2>
                            </div>
                        </div>
                        <div id="observations_table" class="hide">
                            <table class="table styled-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Observation Date</th>
                                        <th>Session Duration (mins)</th>
                                        <th>With a Kong Toy?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for observation in observations %}
                                    <tr>
                                        <td>{{ observation.obsDateTime }}</td>
                                        <td>{{ observation.sessionDurationInMins }}</td>
                                        <td>{{ observation.get_isKong_display }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">No observations found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Placements in Kennels Table -->
                    <div class="scrollable-table">
                        <div id="placements_container" class="center-container clickable-container">
                            <div class="clickable-header mt-3">
                                <h2>Placements in Kennels <i class="fas fa-angle-down"></i></h2>
                            </div>
                        </div>
                        <div id="placements_table" class="hide">
                            <table class="table styled-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Entrance Date</th>
                                        <th>Expiration Date</th>
                                        <th>Duration (days)</th>
                                        <th>Kennel</th>
                                        <th>Placement Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for placement in placements %}
                                    <tr>
                                        <td>{{ placement.entranceDate }}</td>
                                        <td>{{ placement.expirationDate }}</td>
                                        <td>{{ placement.duration }}</td>
                                        <td>{{ placement.kennel }}</td>
                                        <td>{{ placement.placementReason }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5">No placements found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="card-footer bg-transparent">
                    {% if user.is_authenticated and user|has_group:"Vet" %}
                        <div class="mt-1 action-buttons">
                            <a href="{% url 'dogs_app:update_dog' dog_record.dogID %}" class="btn btn-warning me-2">Update</a>
                            <a href="{% url 'dogs_app:delete_dog' dog_record.dogID %}" class="btn btn-danger">Delete</a>
                        </div>
                    {% endif %}
                    <div class="back-button">
                        <a href="{% url 'dogs_app:home' %}" class="btn btn-secondary">Back</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dogName" class="modal-title text-center w-100"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="fullImage" src="" alt="Full-sized Dog Image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
            </div>
        </div>
    </div>

    <!-- Dog Owner Modal -->
    <div class="modal fade" id="ownerModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title center-container">{{ dog_record.owner.firstName }} {{ dog_record.owner.lastName }}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    {% if dog_record.owner %}
                                        <li class="list-group-item"><strong>Owner ID:</strong> {{ dog_record.owner.ownerID }}</li>
                                        <li class="list-group-item"><strong>Address:</strong> {{ dog_record.owner.ownerAddress }}, {{ dog_record.owner.city }}</li>
                                        <li class="list-group-item"><strong>Phone:</strong> {{ dog_record.owner.phoneNum }}</li>
                                        <li class="list-group-item"><strong>Cellphone:</strong> {{ dog_record.owner.cellphoneNum }}</li>
                                        <li class="list-group-item"><strong>Comments:</strong> {{ dog_record.owner.comments }}</li>
                                    {% else %}
                                        <li class="list-group-item">No owner details available.</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Declare a variable for displaying the dog's image, to be used in the following external JavaScript file -->
    <script type="text/javascript">
        const dogImageLoad = '{{ dog_record.dogName }}';
    </script>
    <script src="{% static 'dogs_app/js/dog_record.js' %}"></script>

{% endblock %}