{% extends 'base.html' %}
{% load group_check %}
{% load dog_filters %}
{% load static %}

{% block head %}
    <title>DogsWatch | Dogs Details | {{ dog_record.dogName|handle_none }}</title>
    <link href="{% static 'dogs_app/css/dog_record.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 p-5">
        <div class="col-md-10 mx-auto">
            <div class="card shadowed">
                <div class="card-header bg-dark text-white d-flex align-items-center justify-content-between">
                    <!-- Back button on the left -->
                    <button onclick="goBack()" class="btn btn-light" title="Go Back">
                        <span class="icon-arrow_back text-dark"></span>
                    </button>

                    <!-- Dog's name centered -->
                    <h2 class="card-title m-2 flex-grow-1 text-center" style="padding-left: 3rem;">
                        {{ dog_record.dogName }}
                    </h2>

                    <!-- Update and Delete on the right -->
                    <div class="btn-group">
                        {% if user.is_authenticated and user|has_group:"Vet" %}
                            <a href="{% url 'dogs_app:update_dog' dog_record.dogID %}" class="btn btn-light" title="Update">
                                <span class="icon-edit text-dark"></span>
                            </a>
                            <a href="{% url 'dogs_app:delete_dog' dog_record.dogID %}" class="btn btn-danger" title="Delete">
                                <span class="icon-delete text-white"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="text-center my-3">
                    {% if dog_record.dogImage and not dog_record.is_default_image %}
                        <img id="dog_picture" data-bs-toggle="modal" data-bs-target="#imageModal" src="{{ dog_record.dogImage.url }}" class="rounded-circle" alt="Dog Image" style="width: 12rem; height: 12rem; object-fit: cover; cursor: pointer;">
                    {% else %}
                        <img id="dog_picture" src="{% static 'dogs_app/img/default_dog.jpg' %}" class="rounded-circle" alt="Default Dog Image" style="width: 12rem; height: 12rem; object-fit: cover;">
                    {% endif %}
                </div>

                <div class="card-body bg-none shadow-none">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="attr-name"><strong>Dog Name</strong></td>
                                <td>{{ dog_record.dogName|handle_none }}</td>
                            </tr>
                            <tr>
                                <td><strong>Date of Arrival</strong></td>
                                <td>{{ dog_record.dateOfArrival|handle_none }}</td>
                            </tr>
                            <tr>
                                <td><strong>Chip Number</strong></td>
                                <td>{{ dog_record.chipNum|handle_none }}</td>
                            </tr>
                            <tr>
                                <td><strong>Gender</strong></td>
                                <td>{{ dog_record.gender|gender_filter }}</td>
                            </tr>
                            <tr>
                                <td><strong>Breed</strong></td>
                                <td>{{ dog_record.breed|handle_none }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fur Color</strong></td>
                                <td>{{ dog_record.furColor|handle_none }}</td>
                            </tr>
                            <tr>
                                <td><strong>Estimated Date of Birth</strong></td>
                                <td>{{ dog_record.dateOfBirthEst|handle_none }}</td>
                            </tr>
                            <tr>
                                <td><strong>Estimated Age (Years)</strong></td>
                                <td>{{ dog_record.dateOfBirthEst|calculate_age }}</td>
                            </tr>
                            <tr>
                                <td><strong>Date of Vaccination</strong></td>
                                <td>{{ dog_record.dateOfVaccination|handle_none }}</td>
                            </tr>
                            <tr>
                                <td><strong>Neutered?</strong></td>
                                <td>{{ dog_record.isNeutered|yes_no_filter }}</td>
                            </tr>
                            <tr>
                                <td><strong>Dangerous?</strong></td>
                                <td>{{ dog_record.isDangerous|yes_no_filter }}</td>
                            </tr>
                            <tr>
                                <td><strong>Date Given Last Kong Toy</strong></td>
                                <td>{{ dog_record.kongDateAdded|handle_none }}</td>
                            </tr>
                            <tr>
                                <td class="attr-name" style="{% if dog_record.owner %}padding-top: 1.4rem;{% endif %}"><strong>Owner</strong></td>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if dog_record.owner %}
                                            <div class="text-center" >
                                                {{ dog_record.owner|handle_none }}
                                            </div>
                                            <div >
                                                <button type="button" id="owner-button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#ownerModal">Details</button>
                                            </div>
                                        {% else %}
                                            <div class="text-center" >
                                                {{ dog_record.owner|handle_none }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <hr>
                    <!-- Expand/Collapse All Button -->
                    <div class="d-flex justify-content-end">
                        <button id="toggleTables" class="btn btn-dark btn-sm">
                            Expand All
                        </button>
                    </div>

                    <br />
                    <!-- Treatments Table -->
                    <div class="scrollable-table">
                        <div id="treatments_container" class="w-100">
                            <div class="clickable-header h-100 w-100 my-0 py-3 px-5 d-flex justify-content-between">
                                <h2>Treatments</h2>
                                <h2>
                                    <i class="fas fa-angle-down"></i>
                                </h2>
                            </div>
                        </div>
                        <div id="treatments_table" class="hide">
                            <div class="action-bar">
                                <!-- Display success messages here upon submission -->
                                <div id="treatments-success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                                    <strong>Success!</strong> Treatment has been successfully added.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <a class="btn btn-add-new new-treatment" href="#">
                                    <i class="fas fa-plus"></i> Add Treatment
                                </a>
                            </div>
                            <table id="treatments-table" class="table styled-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Treatment Date</th>
                                        <th>Treatment Name</th>
                                        <th>Treated By</th>
                                        <th>Comments</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for treatment in treatments %}
                                    {% include "_treatment_row.html" with treatment=treatment %}
                                {% empty %}
                                    <tr>
                                        <td colspan="4">No treatments found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <!-- Treatments Pagination -->
                           {% include "_dog_record_pagination.html" with paginated_data=treatments param_name="treatments_page" %}
                            <hr>
                        </div>
                    </div>

                    <!-- Entrance Examinations Table -->
                    <div class="scrollable-table">
                        <div id="examinations_container" class="w-100">
                            <div class="clickable-header h-100 w-100 my-0 py-3 px-5 d-flex justify-content-between">
                                <h2>Examinations</h2>
                                <h2>
                                    <i class="fas fa-angle-down"></i>
                                </h2>
                            </div>
                        </div>
                        <div id="examinations_table" class="hide">
                            <div class="action-bar">
                                <!-- Display success messages here upon submission -->
                                <div id="examinations-success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                                    <strong>Success!</strong> Examination has been successfully added.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <a class="btn btn-add-new new-examination" href="#">
                                    <i class="fas fa-plus"></i> Add Examination
                                </a>
                            </div>
                            <table id="examinations-table" class="table styled-table table-bordered">
                                <thead class=" stylish-thead">
                                    <tr>
                                        <th>Date</th>
                                        <th>Examined By</th>
                                        <th>Results</th>
                                        <th>Weight (Kg)</th>
                                        <th>Temperature (C)</th>
                                        <th>Pulse (BPM)</th>
                                        <th>Comments</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="small stylish-tbody">
                                {% for examination in examinations %}
                                    {% include "_examination_row.html" with examination=examination %}
                                {% empty %}
                                    <tr>
                                        <td colspan="7">No examinations found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <!-- Examinations Pagination -->
                           {% include "_dog_record_pagination.html" with paginated_data=examinations param_name="examinations_page" %}
                            <hr>
                        </div>
                    </div>

                    <!-- Placements in Kennels Table -->
                    <div class="scrollable-table">
                        <div id="placements_container" class="w-100">
                            <div class="clickable-header h-100 w-100 my-0 py-3 px-5 d-flex justify-content-between">
                                <h2>Kennel Placements</h2>
                                <h2>
                                    <i class="fas fa-angle-down"></i>
                                </h2>
                            </div>
                        </div>
                        <div id="placements_table" class="hide">
                            <div class="action-bar">
                                <!-- Display success messages here upon submission -->
                                <div id="placements-success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                                    <strong>Success!</strong> Placement has been successfully added.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <a class="btn btn-add-new new-placement" href="#">
                                    <i class="fas fa-plus"></i> Add Placement
                                </a>
                            </div>
                            <table id="placements-table" class="table styled-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Entrance Date</th>
                                        <th>Expiration Date</th>
                                        <th>Duration (days)</th>
                                        <th>Kennel</th>
                                        <th>Placement Reason</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for placement in placements %}
                                    {% include "_placement_row.html" with placement=placement %}
                                {% empty %}
                                    <tr>
                                        <td colspan="5">No placements found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <!-- Placements Pagination -->
                           {% include "_dog_record_pagination.html" with paginated_data=placements param_name="placements_page" %}
                        <hr>
                        </div>
                    </div>

                    <!-- Observes (Camera Session) Table -->
                    <div class="scrollable-table">
                        <div id="sessions_container" class="w-100">
                            <div class="clickable-header h-100 w-100 my-0 py-3 px-5 d-flex justify-content-between">
                                <h2>Camera Sessions</h2>
                                <h2>
                                    <i class="fas fa-angle-down"></i>
                                </h2>
                            </div>
                        </div>
                        <div id="sessions_table" class="hide">
                            <div class="action-bar">
                                <!-- Display success messages here upon submission -->
                                <div id="sessions-success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                                    <strong>Success!</strong> Camera Session has been successfully added.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <a class="btn btn-add-new new-session" href="#">
                                    <i class="fas fa-plus"></i> Add Session
                                </a>
                            </div>
                            <table id="sessions-table" class="table styled-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Session Date</th>
                                        <th>Camera</th>
                                        <th>Comments</th>
                                        <th>Observations</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for session in sessions %}
                                    {% include "_session_row.html" with session=session %}
                                {% empty %}
                                    <tr>
                                        <td colspan="4">No sessions found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <!-- Sessions Pagination -->
                           {% include "_dog_record_pagination.html" with paginated_data=sessions param_name="sessions_page" %}
                        </div>
                    </div>
                </div>

                <br />
                <div class="card-footer bg-transparent py-3">
                    {% if user.is_authenticated and user|has_group:"Vet" %}
                        <div class="d-flex mt-1">
                            <a href="{% url 'dogs_app:update_dog' dog_record.dogID %}" class="btn btn-outline-dark flex-grow-1 mx-2 flex-grow-1">Update</a>
                            <a href="{% url 'dogs_app:delete_dog' dog_record.dogID %}" class="btn btn-danger d-flex align-items-center justify-content-center mx-2 flex-grow-1">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dogName" class="modal-title text-center w-100"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="fullImage" src="" alt="Full-sized Dog Image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
            </div>
        </div>
    </div>

    <!-- Dog Owner Modal -->
    <div class="modal fade" id="ownerModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title center-container">{{ dog_record.owner.firstName }} {{ dog_record.owner.lastName }}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    {% if dog_record.owner %}
                                        <li class="list-group-item"><strong>Owner ID:</strong> {{ dog_record.owner.ownerID }}</li>
                                        <li class="list-group-item"><strong>Address:</strong> {{ dog_record.owner.ownerAddress }}, {{ dog_record.owner.city }}</li>
                                        <li class="list-group-item"><strong>Phone:</strong> {{ dog_record.owner.phoneNum }}</li>
                                        <li class="list-group-item"><strong>Cellphone:</strong> {{ dog_record.owner.cellphoneNum }}</li>
                                        <li class="list-group-item"><strong>Comments:</strong> {{ dog_record.owner.comments }}</li>
                                    {% else %}
                                        <li class="list-group-item">No owner details available.</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary edit-owner-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit this Owner" data-owner-id="{{ dog_record.owner.ownerSerialNum }}">Edit Owner Details</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Edit Owner Modal -->
    <div class="modal fade" id="editOwnerModal" tabindex="-1" aria-labelledby="editOwnerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center bg-primary">
                    <h3 class="modal-title w-100" id="editOwnerModalLabel">Edit Owner</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'dogs_app:dog_record' dog_record.dogID %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="owner_form">

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.firstName.id_for_label }}" class="col-form-label">First Name:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.firstName }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.lastName.id_for_label }}" class="col-form-label">Last Name:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.lastName }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.ownerID.id_for_label }}" class="col-form-label">ID:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.ownerID }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.ownerAddress.id_for_label }}" class="col-form-label">Address:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.ownerAddress }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.city.id_for_label }}" class="col-form-label">City:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.city }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.phoneNum.id_for_label }}" class="col-form-label">Phone Number:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.phoneNum }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.cellphoneNum.id_for_label }}" class="col-form-label">Cellphone Number:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.cellphoneNum }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-5 text-end">
                                <label for="{{ owner.comments.id_for_label }}" class="col-form-label">Comments:</label>
                            </div>
                            <div class="col-7 custom-input">
                                {{ owner.comments }}
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-modal edit-owner-confirm-btn">Save Changes</button>
                            <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Modals -->
{% include 'modals/dogs/common/__delete_modal.html' with modal_id='deleteTreatmentModal' title='Treatment' label_id='deleteTreatmentModalLabel' button_id='confirmTreatmentDeleteBtn' %}
{% include 'modals/dogs/common/__delete_modal.html' with modal_id='deleteSessionModal' title='Session' label_id='deleteSessionModalLabel' button_id='confirmSessionDeleteBtn' %}
{% include 'modals/dogs/common/__delete_modal.html' with modal_id='deletePlacementModal' title='Placement' label_id='deletePlacementModalLabel' button_id='confirmPlacementDeleteBtn' %}
{% include 'modals/dogs/common/__delete_modal.html' with modal_id='deleteExaminationModal' title='Examination' label_id='deleteExaminationModalLabel' button_id='confirmExaminationDeleteBtn' %}

{% include 'modals/dogs/treatments/__add_modal.html' %}
{% include 'modals/dogs/treatments/__edit_modal.html' %}

{% include 'modals/dogs/sessions/__add_modal.html' %}
{% include 'modals/dogs/sessions/__edit_modal.html' %}

{% include 'modals/dogs/kennel/__add_modal.html' %}
{% include 'modals/dogs/kennel/__edit_modal.html' %}

{% include 'modals/dogs/exams/__add_modal.html' %}
{% include 'modals/dogs/exams/__edit_modal.html' %}

{% endblock %}

<!-- Declare a variable for displaying the dog's image, to be used in the following external JavaScript file -->
{% block script %}
    <script type="text/javascript">
        const dogImageLoad = '{{ dog_record.dogName }}';
    </script>
    <script src="{% static 'dogs_app/js/dog_record.js' %}"></script>
{% endblock %}