{% extends 'base.html' %}
{% load group_check %}
{% load static %}

{% block head %}
    <title>DogsWatch | Graphs</title>
    <link href="{% static 'dogs_app/css/graphs.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container p-2 p-md-5 mt-5">
        <div class="mx-auto text-center bg-dark text-white fw-bold py-3 rounded mb-3">
            <h2>Dog Shelter Statistics</h2>
        </div>

        <div>
            <div id="loading">
                <img src="{% static 'dogs_app/img/spinner.gif' %}" alt="Loading..." />
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-indicators" style="bottom: -1rem;">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card chart-container chart-container-day d-block w-100">
                        <div class="card-body">
                            <div class="controls-container">
                                <div class="slider-container">
                                    <div class="form-check form-switch" style="display: flex;">
                                        <label for="showAllStances" id="showAllStancesLabel">
                                            <strong>
                                                Show All
                                            </strong>
                                        </label>
                                        <input class="form-check-input" id="showAllStances" type="checkbox" role="switch">
                                    </div>
                                    <label for="stanceSlider" id="stanceSliderLabel">
                                        <strong>
                                            Number of Activities:
                                        </strong>
                                    </label>
                                    <input type="range" id="stanceSlider" min="1" max="{{ max_dog_stances_count }}" value="{% if max_dog_stances_count > 4 %}5{% else %}{{ max_dog_stances_count }}{% endif %}" step="1" oninput="updateStanceLimit(this.value)">
                                </div>

                                <div class="dropdown-container">
                                    <label for="year-select-stances" id="year-select-stances-label">
                                        <strong>Year Selection:</strong>
                                    </label>
                                    <select id="year-select-stances" class="centered-content">
                                        <option value="total">All Years</option>
                                    </select>
                                </div>
                            </div>

                            <h2 class="card-title" id="stanceChartTitle">
                                <span id="stanceChartTitleTop">Top</span> <span id="stanceSliderValue">{% if max_dog_stances_count > 4 %}5{% else %}{{ max_dog_stances_count }}{% endif %}</span> Dog <span id="stanceChartTitleMiddle">Activities</span> Across The Week
                            </h2>
                            <canvas id="chart_dogStances_by_day"  width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card chart-container chart-container-with-kong d-block w-100">
                        <div class="card-body">
                            <!-- Dropdown for with-kong chart -->
                            <div class="dropdown-container">
                                <label for="year-select-with-kong">
                                    <strong>Year Selection:</strong>
                                </label>
                                <select id="year-select-with-kong" class="centered-content">
                                    <option value="total">Total Count</option>
                                </select>
                            </div>
                            <h2 class="card-title">
                                Dog Activities
                                <span class="with-kong-color">
                                    With
                                </span>
                                    Toy (Without Locations)
                            </h2>
                            <canvas id="chart_dogStances_with_kong" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card chart-container chart-container-without-kong d-block w-100">
                        <div class="card-body">
                            <!-- Dropdown for without-kong chart -->
                            <div class="dropdown-container">
                                <label for="year-select-without-kong">
                                    <strong>Year Selection:</strong>
                                </label>
                                <select id="year-select-without-kong">
                                    <option value="total">Total Count</option>
                                </select>
                            </div>
                            <h2 class="card-title">
                                Dog Activities
                                <span class="without-kong-color">
                                    Without
                                </span>
                                Toy (Without Locations)
                            </h2>
                            <canvas id="chart_dogStances_without_kong" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card chart-container chart-container-stance-pos d-block w-100">
                        <div class="card-body">
                            <h2 class="card-title" id="stance-pos-title">
                                Most Common Behaviors -
                                <br>Comparison
                                <span class="with-color">
                                    With
                                </span>
                                /
                                <span class="without-color">
                                    Without
                                </span>
                                Toys
                            </h2>
                            <canvas id="chart_dogStance_dogPosition_with_without" width="800" height="550"></canvas>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card chart-container chart-container-breeds d-block w-100 ">
                        <div class="card-body breed-distribution-container">
                            <h2 class="card-title">Distribution of Dog Breeds</h2>
                            <canvas id="chart_dogBreeds" width="650" height="650"></canvas>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated and user|has_group:"Vet" %}
                    <div class="carousel-item">
                        <div class="card chart-container chart-container-health-metrics d-block w-100">
                            <div class="card-body">
                                <h2 class="card-title-metrics">
                                    Health Metrics Profiling of Our Canines
                                    <br>
                                    Categorized by Gender, Vaccination and Neutering Statuses
                                </h2>
                                <div style="width: 65%;  margin-left: 12rem;">
                                    <canvas id="chart_health_metrics"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <button class="carousel-control-prev" style="left: -10rem;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="right: -10rem;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <div>

{% endblock %}





{% block script %}
    <!-- Declare a variable for chart data URL to be used in the following external JavaScript file -->
    <script type="text/javascript">
        const chartDataUrl = '{% url 'dogs_app:chart_data' %}';
        // Pass the current User Authorization status to the JS file
        const userIsVet = {% if user.is_authenticated and user|has_group:"Vet" %}true{% else %}false{% endif %};

    </script>

    <!-- Include external JS file for charts -->
    <script src="{% static 'dogs_app/js/graphs.js' %}"></script>
{% endblock %}