{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link href="{% static 'dogs_app/css/graphs.css' %}" rel="stylesheet">

    <div class="title-container col-md-10 mx-auto">
        <h1>Dog Shelter Statistics</h1>
    </div>

    <div id="loading">
        <img src="{% static 'dogs_app/img/spinner.gif' %}" alt="Loading..." />
    </div>

    <div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin: 2em 0;">
        <!-- Remove inline styles where possible and use classes instead -->
        <div class="card chart-container">
            <div class="card-body">
                <h2 class="card-title">Stances with Kong Toy</h2>
                <canvas id="chart_dogStances_with_kong"></canvas>
            </div>
        </div>
        <div class="card chart-container">
            <div class="card-body">
                <h2 class="card-title">Stances without Kong Toy</h2>
                <canvas id="chart_dogStances_without_kong"></canvas>
            </div>
        </div>
    </div>
    <div class="card chart-container">
        <div class="card-body">
            <h2 class="card-title">Distribution of Dog Breeds</h2>
            <canvas id="chart_dogBreeds"></canvas>
        </div>
    </div>
    <div class="card chart-container">
        <div class="card-body">
            <h2 class="card-title">Duration of Engagement</h2>
            <canvas id="chart_duration_of_engagement"></canvas>
        </div>
    </div>

    <!-- Declare a variable for chart data URL to be used in the following external JavaScript file -->
    <script type="text/javascript">
        const chartDataUrl = '{% url 'dogs_app:chart_data' %}';
    </script>
    
    <!-- Include external JS file for charts -->
    <script src="{% static 'dogs_app/js/graphs.js' %}"></script>

{% endblock %}