{% load static %} {% load group_check %}

<nav class="navbar navbar-expand-lg p-3 custom-navbar">
  <div class="container-fluid">
    {% include 'components/logo.html' %}

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse py-3 py-lg-0" id="ftco-nav">
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item active me-4">
          <a href="{% url 'dogs_app:home' %}" class="nav-link">Home</a>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <div class="dropdown custom-dropdown nav-link">
              <span
                data-bs-toggle="dropdown"
                class="dropdown-link"
                style="cursor: pointer"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Dashboard
              </span>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="{% url 'dogs_app:view_dogs' %}" class="dropdown-item">
                  <strong>Dogs</strong>
                  <span>Explore From the List of thouands of Dogs.</span>
                </a>
                <a href="{% url 'dogs_app:graphs' %}" class="dropdown-item">
                  <strong>Graphs</strong>
                  <span>Explore From the List of thouands of Dogs.</span>
                </a>
                <a href="{% url 'dogs_app:view_news' %}" class="dropdown-item">
                  <strong>News</strong>
                  <span>Find thouands of articles about Dogs naturing.</span>
                </a>
                <a href="{% url 'portal_app:list-kennels' %}" class="dropdown-item">
                  <strong>Control Panel</strong>
                  <span>Manage all website data.</span>
                </a>
              </div>
            </div>
          </li>
        {% endif %}

        {% if user.is_authenticated and user.is_superuser %}
          <li class="nav-item">
            <div class="dropdown custom-dropdown nav-link">
              <span
                data-bs-toggle="dropdown"
                class="dropdown-link"
                style="cursor: pointer"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Controls
              </span>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="{% url 'dogs_app:view_users' %}" class="dropdown-item">
                  <strong>Users</strong>
                  <span>Explore all the user.</span>
                </a>
                <a href="{% url 'dogs_app:add_news' %}" class="dropdown-item">
                  <strong>News</strong>
                  <span>Create News for all the users.</span>
                </a>

                <a href="{% url 'admin:index' %}" class="dropdown-item">
                  <strong>Admin Panel</strong>
                  <span>Admin Panel To control the whole applicaiton.</span>
                </a>
              </div>
            </div>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
          <li class="nav-item">
            <div class="dropdown custom-dropdown nav-link">
              <span
                data-bs-toggle="dropdown"
                class="dropdown-link"
                style="cursor: pointer"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ user.username }}
              </span>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="{% url 'dogs_app:update_user_self' %}" class="dropdown-item">
                  <strong>Manage Profile</strong>
                </a>
                <a href="{% url 'dogs_app:change_password' %}" class="dropdown-item">
                  <strong>Change Password</strong>
                </a>
                <a href="{% url 'dogs_app:logout' %}" class="dropdown-item">
                  <strong>Logout</strong>
                </a>
              </div>
            </div>
          </li>
        {% endif %}


        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'dogs_app:register' %}" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <a
                href="{% url 'dogs_app:login' %}"
                class="px-5 rounded-pill bg-success py-3 text-white"
                style="letter-spacing: 1px"
                >Login</a
              >
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
