{% load group_check %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">
            <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">Dogs Shelter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i> Home</a>
                </li>
                {% if user.is_authenticated and user|has_group:"Vet" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_dog' %}"><i class="bi bi-plus-circle-fill"></i> Add New Dog</a>
                    </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear-fill"></i> Admin Controls
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'view_users' %}">View Users</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_news' %}">Add News</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Page</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><i class="bi bi-person-plus-fill"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                    </li>
                {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i> Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="{% url 'update_user_self' %}" class="dropdown-item">Manage Details</a>
                        </li>
                        <li>
                            <a href="{% url 'change_password' %}" class="dropdown-item">Change Password</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Logout</a>
                </li>
            {% endif %}

            </ul>
        </div>
    </div>
</nav>
