{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>DogsWatch | Lastest News</title>
    <link href="{% static 'dogs_app/css/news_page.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <div class="container-fluid p-5">
        <div class="table-wrapper">
            <div class="table-header bg-dark">
                <div class="spacer"></div>
                <div class="title">Latest News</div>
                {% if user.is_superuser %}
                    <a href="{% url 'dogs_app:add_news' %}" class="btn btn-outline-light btn-sm add-news-btn">
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-newspaper"></i>
                    </a>
                {% else %}
                    <div class="spacer"></div>
                {% endif %}
            </div>
            <table id="newsTable">
            <thead>
                <tr>
                    <th style="width: 30%">Date Created</th>
                    <th style="text-align: center;">Title</th>
                    {% if user.is_superuser %}
                        <th class="actions-th">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for news in news_list %}
                    <tr data-content="{{ news.content|escapejs }}" class="first-row">
                        <td style="text-align: center;">{{ news.created_at }}</td>
                        <td style="text-align: center;">{{ news.title }}</td>
                        {% if user.is_superuser %}
                            <td class="button-cell">
                                <div class="control__button">
                                    <a href="{% url 'dogs_app:update_news' news.id %}" class="mx-1" title="Edit">
                                      <span class="icon-edit text-dark"></span>
                                    </a>
                                    <a href="{% url 'dogs_app:delete_news' news.id %}" class="mx-1" title="Delete">
                                      <span class="icon-delete text-dark"></span>
                                    </a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <tr class="content-row second-row">
                        <td colspan="{% if user.is_superuser %} 3 {% else %} 2 {% endif %}" style="text-align: center; padding: 3rem;">{{ news.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </div>
    </div>
{% endblock %}


{% block script %}
    <!-- DataTables UI -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- News_page.js-->
    <script src="{% static 'dogs_app/js/news_page.js' %}"></script>

{% endblock %}