{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>DogsWatch | Update News | {{ news.title }} </title>
    <link href="{% static 'dogs_app/css/update_news.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container-fluid px-5 py-large">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="text-lg">Update News.</h1>
                <p class="pe-5">Edit the current Website News</p>
            </div>
            <div class="col-12 col-md-6">
                <div class="mb-5">
                    <button onclick="goBack()" class="btn btn-dark" title="Go Back">
                        <span class="icon-arrow_back text-light"></span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {% include 'components/form.html' %}
                    <button class="btn btn-outline-dark btn-lg px-5 d-block w-100" type="submit">
                        Update News
                    </button>  
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'dogs_app/js/update_news.js' %}"></script>
{% endblock %}
