{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <link href="{% static 'dogs_app/css/update_dog.css' %}" rel="stylesheet">

    <div class="container mt-5 col-md-9">
        <div class="card border-warning stylish-card shadow">
            <div class="card-header bg-warning text-black text-center stylish-card-header">
                <h1 class="">Update Dog Details</h1>
            </div>
            <div class="card-body stylish-card-body">
                <form method="POST" class="form stylish-form" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Dog Image Display -->
                    <div class="mb-3 text-center">
                        <label class="form-label"></label>
                        {% if form.instance.dogImage %}
                            <img id="dog_picture" src="{{ form.instance.dogImage.url }}" alt="Dog Image" style="max-width: 300px;">
                        {% else %}
                            <img id="dog_picture" src="{% static 'dogs_app/img/default_dog.jpg' %}" alt="Default Dog Image" style="max-width: 300px;">
                        {% endif %}
                        <p id="image_change_alert" style="display: none;" class="alert alert-warning mt-3">
                            Click the "Update Details" button at the bottom to save this new dog picture, or "Back" to cancel changes.
                        </p>

                        <div class="d-flex justify-content-center align-items-center mt-2">
                            {% if form.instance.dogImage and 'default_dog.jpg' not in form.instance.dogImage.name %}
                                <button type="submit" class="btn btn-danger me-2" name="deleteImage"
                                        onclick="return confirm('Are you sure you want to permanently delete this dog picture?')">Remove Picture</button>
                                <button type="button" id="customUploadButton" class="btn btn-primary">Change Picture</button>
                            {% else %}
                                <button type="button" id="customUploadButton" class="btn btn-primary">Upload Picture</button>
                            {% endif %}

                            <div style="display: none;">
                                {{ form.dogImage|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <!-- End of Dog Image Display -->


                    {% for field in form %}
                    {% if not field.name == "dogID" and not field.name == "dogImage" %}
                        <div class="mb-3">
                            <strong><label for="{{ field.id_for_label }}" class="form-label stylish-label">{{ field.label }}</label></strong>

                            {% if field.field.widget.input_type == "date" %}
                                <!-- Wrap date field and reset link in a div for layout control -->
                                <div class="d-flex align-items-center">
                                    <!-- Add 'date-field' CSS class to date fields for easy targeting in JavaScript -->
                                    {{ field|add_class:"form-control stylish-form-control date-field" }}
                                    <!-- Reset link that will clear the associated date field when clicked -->
                                    <a href="#" style="padding-left: 8px;" class="reset-date-link ml-2">Reset</a>
                                </div>
                            {% else %}
                                {{ field|add_class:"form-control stylish-form-control" }}
                            {% endif %}

                            {% if field.errors %}
                                <div class="alert alert-warning mt-2" role="alert">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% endfor %}

                    <div class="add-dog-button mt-4 action-buttons">
                        <button type="submit" class="btn btn-success">Save Changes</button>
                    </div>
                    <div class="back-button mt-2">
                        <a href="{% url 'dogs_app:dog_record' current_dogID %}" class="btn btn-secondary">Back</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Dog Image Edit Javascript -->
    <script src="{% static 'dogs_app/js/update_dog.js' %}"></script>

{% endblock %}
