{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'dogs_app/css/update_news.css' %}" rel="stylesheet">

<div class="container mt-5 text-center">
    <div class="col-md-7 mx-auto">
        <div class="card border-warning shadow-lg">
            <div class="card-header bg-warning text-black">
                <h2 class="card-title">Edit News</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ news.title }}">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="6">{{ news.content }}</textarea>
                    </div>
                    <div class="update-news-button mt-4">
                        <button type="submit" class="btn btn-success">Update News</button>
                    </div>
                    <div class="back-button mt-2">
                        <a href="{% url 'dogs_app:home' %}" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
