{% extends 'base.html' %}
{% load static %}
{% load date_filters %}

{% block head %}
    <title>DogsWatch | View Dog Observation</title>
    <link href="{% static 'dogs_app/css/view_observations.css' %}" rel="stylesheet">
    <!-- DateTime styling -->
    <link href="{% static 'dogs_app/css/_datetime_picker.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid p-5 mt-5">
        <div class="col-md-12 mx-auto">
            <div class="card shadowed">
                <div class="card-header bg-dark py-4 text-white d-flex align-items-center justify-content-between"
                     id="observations-table-top">
                    <!-- Back button on the left -->
                    <button onclick="goBackWithParam()" class="btn btn-light" title="Go Back">
                        <span class="icon-arrow_back text-dark"></span>
                    </button>

                    <!-- Dog's name centered -->
                    <h6 class="card-title m-2 flex-grow-1 text-center" style="padding-left: 3rem;">
                        All Observations For Session ({{ session_instance }})
                    </h6>

                    <a id="add-observation-button" class="btn add-dog-btn text-white" href="#" data-bs-toggle="modal" data-bs-target="#newObservationModal">
                        <i class="bi bi-plus-circle-fill mr-1"></i> New Oservation
                    </a>
                </div>

                <!-- Observations Table -->
                <div class="observations-table-container">
                    <div id="observations-success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                        <strong>Success!</strong> Observation has been successfully added.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <table id="observations-table" class="table table-striped table-hover table-bordered border-secondary styled-table">
                        <thead class="table-group-divider table-dark">
                            <tr class="">
                                <th>Date & Time</th>
                                <th>Duration (Mins)</th>
                                <th>With Kong?</th>
                                <!-- Include isDog and isHuman columns if branch is Italy only -->
                                {% if request.session.branch == 'Italy' %}
                                <th>With Dog?</th>
                                <th>With Human?</th>
                                {% endif %}
                                <th>JSON File</th>
                                <th>Video</th>
                                <th>Edit/Delete</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider" id="divider">
                            {% for observation in paginated_observations %}
                                {% include '_observation_row.html' %}
                            {% empty %} 
                                <tr class="">
                                    <td colspan="7">No observations found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    {% include '_observations_pagination.html' %}

                </div>
            </div>
        </div>
    </div>


<!-- Edit Observation Modal -->
{% include 'modals/observations/__edit_observation_modal.html' %}

<!-- Add New Observation Modal -->
{% include 'modals/observations/__add_observation_modal.html' %}

{% endblock %}


{% block script %}
    <!-- Ensure Back Button takes user back to appropriate dog_record page with Sessions open and scrolled down to -->
    <script type="text/javascript">
        // Pass the dogId to the goBackWithParam function
        const dogId = "{{ session_instance.dog.dogID }}";

        function goBackWithParam() {
            let baseUrl = window.location.protocol + "//" + window.location.host;
            let dogRecordUrl = `${baseUrl}/dog/${dogId}?from=observations`;
            window.location.href = dogRecordUrl;
        }

        // Pass the current branch value to the view_observations.js file
        const branch = "{{ request.session.branch }}";
    </script>
    <script src="{% static 'dogs_app/js/view_observations.js' %}"></script>
{% endblock %}