{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block head %}
    <title>DogsWatch | Examinations</title>
{% endblock %}


{% block content %}
    <div class="container-fluid p-5">
        <div class="col-md-11 mx-auto">
            <div class="bg-dark px-3 py-1 text-white d-flex align-items-center justify-content-between rounded">
                <!-- Back button on the left -->
                <a href="{% url 'dogs_app:home' %}" class="btn btn-light" title="Home">
                    <i class="bi bi-house-door"></i>
                </a>

                <!-- Dog's name centered -->
                <h2 class="flex-grow-1 text-center display-5 fw-bold">Examinations</h2>

                <!-- Update and Delete on the right -->
                <div class="btn-group">
                    <a href="{% url 'portal_app:add-examination' %}" class="btn btn-light" title="Add Kennel">
                        <span class="icon-add text-dark"></span>
                    </a>
                </div>
            </div>

            <div class="my-4 rounded shadowed p-3">
                <div class="row">
                    <!-- Navigate Button -->
                    <div class="col-12 col-md-4 d-flex justify-content-start">
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle px-4" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Examinations
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-kennels' %}">Kennels</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-placements' %}">Dog-Kennel Placements</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-cameras' %}">Cameras</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-observes' %}">Camera Sessions</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-observations' %}">Observations</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-stances' %}">Stances</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-treatments' %}">Treatments</a></li>
                                <li><a class="dropdown-item active" href="{% url 'portal_app:list-examinations' %}">Examinations</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-owners' %}">Dog Owners</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Search Bar -->
                    <div class="col-12 col-md-8 d-flex">
                        <form method="get" action="." class="d-flex col-md-12">
                            <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search Kennels...">
                            <button class="btn btn-outline-primary ms-2" type="submit">Search</button>
                            <a href="{% url 'portal_app:list-examinations' %}" class="btn btn-outline-dark ms-2">Clear</a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Render table with Bootstrap class -->
                    <!-- Check if table is empty -->
                    {% if table.page.object_list %}
                        <!-- Render table with Bootstrap class -->
                        {% render_table table 'tables/table.html' %}
                    {% else %}
                        <!-- Display a custom message if the table is empty -->
                        <div class="alert alert-info" role="alert">
                            <p>No examinations found.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}