{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block head %}
    <title>DogsWatch | Observations</title>
{% endblock %}


{% block content %}
    <div class="container-fluid p-5">
        <div class="col-md-11 mx-auto">
            <div style="box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);" class="bg-dark px-3 py-1 text-white d-flex align-items-center justify-content-between rounded-top">
                <!-- Back button on the left -->
                <a href="{% url 'dogs_app:home' %}" class="btn btn-light" title="Home">
                    <i class="bi bi-house-door"></i>
                </a>

                <!-- Dog's name centered -->
                <h2 class="flex-grow-1 text-center display-5 fw-bold">Observations</h2>

                <!-- Update and Delete on the right -->
                <div class="btn-group">
                    <a href="{% url 'portal_app:add-observation' %}" class="btn btn-light" title="Add Observations">
                        <span class="icon-add text-dark"></span>
                    </a>
                </div>
            </div>

            <div class="mt-0 mb-2 rounded-bottom shadowed p-3">
                <div class="row">
                    <!-- Navigate Button -->
                    <div class="col-12 col-md-4 d-flex justify-content-start">
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle px-4" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Observations
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-kennels' %}">Kennels</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-placements' %}">Dog-Kennel Placements</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-cameras' %}">Cameras</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-observes' %}">Camera Sessions</a></li>
                                <li><a class="dropdown-item active" href="{% url 'portal_app:list-observations' %}">Observations</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-stances' %}">Dog Activities</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-treatments' %}">Treatments</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-examinations' %}">Examinations</a></li>
                                <li><a class="dropdown-item" href="{% url 'portal_app:list-owners' %}">Dog Owners</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Search Bar -->
                    <div class="col-12 col-md-8 d-flex">
                        <form method="get" action="." class="d-flex col-md-12">
                            <input style="margin-right: 17rem;" type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search Observations...">
                            <button class="btn btn-outline-primary ms-2" type="submit">Search</button>
                            <a href="{% url 'portal_app:list-observations' %}" class="btn btn-outline-dark ms-2">Clear</a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Render table with Bootstrap class -->
                    <!-- Check if table is empty -->
                    {% if table.page.object_list %}
                        <!-- Render table with Bootstrap class -->
                        {% render_table table 'tables/table.html' %}
                    {% else %}
                        <!-- Display a custom message if the table is empty -->
                        <div class="alert alert-info" role="alert">
                            <p>No observations found.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Video Playing Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-dark" style="display: flex; justify-content: center; width: 100%;">
                    <h4 class="modal-title text-white" id="videoModalLabel" style="flex-grow: 1; text-align: center;">Observation Video</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="flex-shrink: 0;"></button>
                </div>
                <div class="modal-body">
                <!-- Video player will be inserted here -->
                </div>
            </div>
        </div>
    </div>


<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const modal = document.getElementById('videoModal');
    const modalBody = modal.querySelector('.modal-body');

    let player; // Define player outside to reuse it

    modal.addEventListener('hidden.bs.modal', function () {
        if (player) {
            player.destroy(); // Ensure player is destroyed when modal is closed
            player = null; // Reset player to null
        }
        modalBody.innerHTML = ''; // Clear the modal body to remove video elements
    });

    // Setup video when a video link is clicked
    document.querySelectorAll('a[data-bs-toggle="modal"]').forEach(item => {
        item.addEventListener('click', event => {
            // Prevent default action
            event.preventDefault();

            const videoUrl = item.getAttribute('data-video-url');

            // Check if videoUrl exists to avoid errors
            if (videoUrl) {
                modalBody.innerHTML = `
                    <div class="plyr__video-embed" id="player">
                        <video id="plyr-video-player" playsinline controls muted preload="auto">
                            <source src="${videoUrl}" type="video/mp4">
                        </video>
                    </div>
                `;

                // Re-initialize Plyr for the new video
                player = new Plyr('#plyr-video-player', {
                    muted: true,
                    autoplay: true,
                    hideControls: true,
                    resetOnEnd: true,
                    controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'settings', 'pip', 'download', 'fullscreen'],
                });

                // Try playing the video, handle autoplay prevention
                player.play().catch(error => console.error("Autoplay was prevented.", error));
            }
        });
    });
});

</script>

{% endblock %}