{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>DogsWatch | Edit {{ title }}</title>
    <link rel="stylesheet" href="{% static 'portal_app/css/simple_styles.css' %}">
{% endblock %}


{% block content %}
    <div class="container p-5">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-lg">
                <div class="card-header bg-dark text-white d-flex align-items-center justify-content-between py-0">
                    <a href="{{ list_page }}?page={{ page }}&sort={{ sort }}&search={{ search }}" class="btn btn-light my-3 align-self-start">
                        <span class="icon-arrow_back text-dark"></span>
                    </a>
                    <h2 class="card-title">Edit {{ title }}</h2>
                    <span></span>
                </div>

                <div class="card-body py-5 px-4">
                    <form method="POST" class="form stylish-form"  method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% include "components/form.html" with form=form %}
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Flatpickr for Time field -->
    {% if flatpicker_col %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                flatpickr("#{{ flatpicker_col }}", {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: {% if flatpicker_col != 'obsDateTime' %} "H:i:S" {% else %} "Y-m-d H:i:S" {% endif %},
                    time_24hr: true,
                    minuteIncrement: 1,
                    enableSeconds: true,
                    allowInput: true
                });
            });
        </script>
    {% endif %}
{% endblock %}