{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>DogsWatch | Edit Camera</title>
    <link rel="stylesheet" href="{% static 'portal_app/css/simple_styles.css' %}">
{% endblock %}


{% block content %}

    <!-- Form Container -->
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10">
                <!-- Back Button -->
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'portal_app:list-cameras' %}?page={{ page }}&sort={{ sort }}&search={{ search }}" class="btn btn-secondary mb-3">Back</a>
                        </div>
                    </div>
                </div>

                <!-- Form -->
                <div class="form-container">
                    <h2>Edit Camera</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
